node_modules/
web.config
bower_components
libs/xmljs/libxml2-2.7.8/*
libs/jquery.ui
libs/filesaver/demo
libs/**/*.md
libs/**/*.html
libs/**/*.json
libs/**/*.markdown
libs/**/*.asciidoc
libs/**/*.xml
libs/**/*.sh
libs/**/*.a
libs/**/*.xsd
libs/NS.UI.Navbar/demo
assets/
libs/jquery-ui/ui/
libs/jquery-ui/themes/
libs/jquery/src/*
libs/font-awesome/less/
libs/font-awesome/scss/
libs/i18n/typescript
libs/bootstrap/less/
libs/bootstrap/grunt/
libs/bootstrap/js/
libs/backbone-forms/test
libs/backbone-forms/src
libs/backbone-forms/scripts
libs/fancytree/dist/src
libs/nanoscroller/tests
libs/nanoscroller/docs
build/bouild
