node_modules/
web.config
bower_components
libs/xmljs/libxml2-2.7.8/*
libs/jquery.ui
libs/filesaver/demo
libs/**/*.md
libs/**/*.html
libs/**/*.json
libs/**/*.markdown
libs/**/*.asciidoc
libs/**/*.xml
libs/**/*.sh
libs/**/*.a
libs/**/*.xsd
libs/NS.UI.Navbar/demo
